<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    tools:replace="android:installLocation">

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1" />

    <uses-permission
        android:name="android.permission.NFC"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="remove" />
    <uses-permission android:name="horizonos.permission.HEADSET_CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.front"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.nfc"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        tools:node="remove" />

    <application
        android:label="@string/app_name"
        android:resizeableActivity="true"
        tools:replace="android:label,android:resizeableActivity">
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3|quest3s" />
        <!-- Meta-only manifest entries belong here so the main app build stays unchanged. -->
        <activity
            android:name="com.vergepay.wallet.ui.WalletActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation">
            <intent-filter tools:node="removeAll" />
        </activity>
        <activity
            android:name="com.vergepay.wallet.ui.SendActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.IntroActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.PasswordConfirmationActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.SignTransactionActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.AboutActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.AddCoinsActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.TransactionDetailsActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.ExchangeRatesActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.PreviousAddressesActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.SettingsActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.ConnectionsActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.ShowSeedActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.TradeActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.ExchangeHistoryActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.TradeStatusActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.SignVerifyMessageActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.AccountDetailsActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.SweepWalletActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.FeesSettingsActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.TetrisActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:taskAffinity="com.vergepay.wallet.tetris"
            android:theme="@style/AppThemeMetaGame"
            tools:replace="android:screenOrientation,android:theme" />
        <activity
            android:name="com.vergepay.wallet.ui.ApplockActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.DebuggingActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.vergepay.wallet.ui.WalletGlanceActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/meta_glance_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:taskAffinity="com.vergepay.wallet.glance"
            android:theme="@style/AppThemeMetaGlance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
